* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    min-height: 100vh;
    position: relative;
}

main {
    margin-bottom: 250px;
}

/* Estilo do cabeçalho NAVBAR*/
#logo {
    position: absolute;
    top: 10px;
    left: 9.5%;
}

#logo img {
    width: 50px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #161616;
    padding: 20px;
    text-transform: uppercase;
    list-style: none;
}

