* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    min-height: 100vh;
    position: relative;
}

main {
    margin-bottom: 250px;
}

/* Estilo do cabeçalho NAVBAR*/
#logo {
    position: absolute;
    top: 10px;
    left: 9.5%;
}

#logo img {
    width: 50px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F7ECE1;
    padding: 20px;
    text-transform: uppercase;
    list-style: none;
}

#navbar li {
    margin: 0 10px;
    padding: 5px;
}

#navbar .nav-link {
    font-weight: 700;
    color: #5956A6;
    text-decoration: none;
    transition: 0.5s;
    font-size: 15px;
}

#navbar .nav-link:hover {
    color: #8589D5;
    font-size: 16px;
    text-decoration: underline;
}