* {
    margin: 0px;
    padding: 0px;
}

div#corpo{
    height: 768px;
    width: 1024px;
    background-color: whitesmoke;
    margin: auto;
    border-radius: 3px;
    box-shadow: 0px 0px 30px grey;
    text-align: center;
}