.navbar-brand img {
    width: 50px;
    margin-left: 15px;
}

#main-title {
    text-align: center;
    margin: 15px 0 30px;
}

/* HOME */

#contacts-table {
    max-width: 800px;
    margin: 0 auto;
}

#contacts-table thead {
    color: #fff;
    background: #007bff;
}

#empty-list-text {
    text-align: center;
}